* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");

.home {
  display: grid;
  grid-template-rows: 92px 740px;
  width: 375px;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3a39;
}

.logo {
  color: #fff;
  padding-left: 24px;
  font-size: 18px;
  text-decoration: none;
  transition: 3s;
}

.logo:hover {
  transform: rotateY(360deg);
}

nav a {
  color: #fff;
  width: 24px;
  height: 24px;
  padding-right: 24px;
}

.headline {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #1c1a19;
  padding-top: 120px;
  padding-left: 24px;
}

.headline h1 {
  color: #ff6b00;
  font-size: 56px;
  font-family: Crete Round, sans-serif;
  letter-spacing: 0.37px;
  padding-bottom: 24px;
}

.headline h2 {
  color: #fff5e1;
  font-size: 25px;
  font-family: roboto, sans-serif;
  font-weight: 700 bold;
  padding-bottom: 24px;
}

.headline p {
  color: #fff;
  font-size: 16px;
  font-family: poppins, sans-serif;
  font-style: normal;
  letter-spacing: normal;
  padding-right: 24px;
  padding-bottom: 24px;
}

.headline a {
  color: #dbd8d7;
  text-decoration: none;
  font-size: 20px;
}

.social {
  padding-left: 0;
}

.social li {
  display: inline;
  list-style: none;
  padding: 12px;
}

img {
  float: right;
}

.work {
  display: grid;
  grid-template-rows: 83px 3372;
  width: 375px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
}

.cards h2 {
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-size: 35px;
  font-weight: 400px;
  line-height: 52px;
  color: #1c1a19;
  padding-top: 120px;
  padding-bottom: 24px;
}

.cards hr {
  width: 100%;
  margin-bottom: 56px;
}

.cards p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #091e42;
  margin-top: 12px;
  margin-bottom: 12px;
}

.cards li {
  display: inline;
  list-style: none;
}

.button {
  background-color: #fff;
  border: solid #e5e5e5;
  display: inline-block;
  font-size: 15px;
  margin-top: 12px;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.cards .button5 {
  background-color: #ff6b00;
  width: 100%;
  color: #fff;
  font-size: 16px;
  padding: 12px;
  margin-left: 0;
}

.button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.button:active {
  background-color: #e05304;
}

.button:disabled {
  background-color: #dbd8d7;
  color: #000;
  cursor: not-allowed;
  pointer-events: none;
}

.cardtwo {
  position: relative;
  width: 327px;
  height: 360px;
  background-image: url("image/second.png");
  margin-top: 24px;
  margin-bottom: 50px;
  transition: 2s;
}

.cardtwo:hover {
  transform: scale(1.1);
}

.cardtwo h5 {
  font-family: Crete Round, sans-serif;
  font-size: 32px;
  color: #fff;
  font-style: normal;
  padding-left: 24px;
  padding-top: 120px;
  padding-bottom: 24px;
}

.cardtwo p {
  font-family: Crete Round, sans-serif;
  font-size: 16px;
  color: #fff;
  font-style: normal;
  padding-left: 24px;
}

.language {
  margin-left: 24px;
}

.cardtwo li {
  display: inline;
  list-style: none;
}

.cardtwo button {
  background-color: #789;
  color: #fff;
  border: none;
}

.cardtwo .button9 {
  background-color: #ff6b00;
  color: #fff;
  width: 100%;
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 17px;
}

.cardtwo .button9:hover {
  background-color: #fff5e2;
  color: #f55800;
  border: 1px solid #f55800;
}

.cardtwo .button9:active {
  background-color: #e05304;
  color: #789;
}

.cardtwo .button9:disabled {
  background-color: #dbd8d7;
  color: #000;
  cursor: not-allowed;
  pointer-events: none;
}

.about {
  width: 375px;
  height: 1750px;
  background-color: #000;
  margin-top: 120px;
}

.about h1 {
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-size: 50px;
  color: #ff6b00;
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.about p {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #f4f5f7;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
}

.about button {
  display: inline;
  margin-left: 24px;
  background-color: #ff6b00;
  border: none;
  padding: 12px;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 17px;
}

.about button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.about button:active {
  background-color: #e05304;
  color: #789;
}

.about button:disabled {
  background-color: #dbd8d7;
  color: #000;
  cursor: not-allowed;
  pointer-events: none;
}

.about hr {
  width: 327px;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 91px;
}

.skill li {
  display: block;
}

.heading {
  font-family: InaiMathi, sans-serif;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
}

i {
  padding-right: 12px;
  font-size: 20px;
}

.skill .listone i {
  color: #ff6b00;
}

.skill .listtwo i {
  color: #ff6b00;
}

.skill .listthree i {
  color: #ff6b00;
}

.sub-list {
  list-style: none;
  font-family: Inter, sans-serif;
  font-size: 22px;
  text-align: center;
  color: #fff;
  margin-top: 24px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  grid-template-rows: 216px 330px 72px;
  width: 375px;
  background-color: #fff;
}

.primary-text p {
  color: #172b4d;
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  line-height: 44px;
  padding-left: 24px;
  padding-right: 24px;
  vertical-align: top;
  margin-right: 24px;
  margin-top: 120px;
}

.contact-form-elements {
  margin-top: 73px;
}

input {
  width: 327px;
  margin-left: 40px;
  margin-right: 40px;
}

input[type="text"] {
  width: 327px;
  border: none;
  border-bottom: 2px solid #dbd8d7;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 14px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  color: #979493;
}

input[type="email"] {
  width: 327px;
  border: none;
  border-bottom: 2px solid #dbd8d7;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 14px;
  margin-bottom: 36px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  color: #979493;
}

.contact-form-elements textarea {
  width: 303px;
  height: 90px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 12px;
}

.contact-form-elements input[type="submit"] {
  background-color: #ff6b00;
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  text-align: center;
  width: 131px;
  height: 48px;
  margin-top: 24px;
  margin-left: 122px;
  margin-right: 122px;
  margin-bottom: 124px;
  padding: 12px;
  border: none;
}

input[type="submit"]:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

input[type="submit"]:active {
  background-color: #e05304;
  border: 1px solid #f55800;
  color: #f4f1f0;
}

#text-area {
  background-color: #fbf8f7;
  width: 88%;
  padding: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  border: 0;
}

input[type="button"]:disabled {
  background-color: #dbd8d7;
  color: #000;
  cursor: not-allowed;
  pointer-events: none;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.contact-form-elements hr {
  width: 375px;
  height: 1px;
}

.social-icon {
  display: flex;
  list-style: none;
  gap: 3%;
  margin-bottom: 5%;
}

.footer .social-icon i {
  color: #505f79;
}

#top-nav {
  display: none;
}

.col-1 img {
  display: none;
}

.about .Illustration-image {
  display: none;
}

@media only screen and (min-width: 768px) {
  .home {
    width: 100%;
    height: 870px;
    background-color: #1c1a19;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: absolute;
    top: 16px;
    left: 142px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 20px;
  }

  nav a {
    display: none;
  }

  #top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 194px;
    top: 10px;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 21px;
  }

  .social li {
    display: block;
  }

  #top-nav li {
    display: inline;
  }

  #top-nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }

  #top-nav i {
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
  }

  header {
    height: 72px;
    margin-bottom: 0;
  }

  .social {
    float: left;
  }

  .social img {
    display: none;
  }

  .headline {
    display: flex;
    flex-direction: row-reverse;
  }

  .col-1 {
    width: 50%;
  }

  .col-1 img {
    display: block;
    height: 646px;
    margin-bottom: 50px;
    position: absolute;
    top: 72px;
    right: 0;
  }

  .col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 192px 0;
    position: absolute;
    width: 566px;
    height: 739px;
    left: 143px;
    top: 72px;
    margin: 24px 0;
    padding-right: 150px;
  }

  .col-2 h1 {
    font-size: 72px;
    line-height: 82px;
  }

  .col-2 h2 {
    font-size: 32px;
    line-height: 44px;
  }

  .col-2 p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #f4f5f7;
  }

  .col-3 {
    position: absolute;
    left: 2.5%;
    right: 96.25%;
    top: 351px;
    bottom: 91.7%;
    font-size: 12px;
  }

  .work {
    width: 100%;
  }

  .cards h1 {
    position: static;
    width: 315px;
    height: 52px;
    left: 0;
    top: 0;
    margin-left: 153px;
  }

  .cards hr {
    width: 100%;
    margin-left: 455px;
    margin-right: 153px;
    padding-left: 24px;
  }

  .cards img {
    position: static;
    float: left;
    width: 684px;
    left: 0;
    top: 0;
    margin-left: 141px;
    padding-right: 24px;
  }

  .cards .button5 {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 12px;
    position: static;
    width: 124px;
    height: 48px;
    left: 0;
  }

  .col-4 {
    background-image: url("image/col4.png");
    width: 25%;
    height: 435px;
    margin-left: 141px;
    padding-right: 24px;
  }

  .col-4 h5 {
    display: none;
  }

  .col-4 p {
    display: none;
  }

  .col-4 ul {
    display: none;
  }

  .col-4 .button9 {
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    top: 390px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .col-10 .button9 {
    display: none;
  }

  .col-5 {
    background-image: url("image/col5.png");
    margin-left: 24px;
    margin-right: 24px;
    width: 25%;
    height: 435px;
  }

  .col-5 .button9 {
    display: none;
  }

  .col-6 {
    background-image: url("image/col6.png");
    width: 25%;
    height: 435px;
  }

  .button {
    margin-top: 60px;
  }

  .col-6 .button {
    margin-top: 90px;
  }

  .col-6 .button9 {
    display: none;
  }

  .col-7 {
    background-image: url(image/col10.png);
  }

  .col-7 h5 {
    display: block;
  }

  .col-7 ul {
    display: block;
  }

  .col-7 .button9 {
    display: none;
  }

  .col-7 p {
    display: block;
  }

  .col-5 .button {
    margin-top: 60px;
  }

  .col-8 .button {
    margin-top: 60px;
  }

  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1195px;
    position: relative;
  }

  .about h1 {
    position: static;
    width: 566px;
    height: 78px;
    left: 0;
    top: 130px;
    margin-left: 142px;
    margin-bottom: 48px;
    color: #e05304;
  }

  .about p {
    position: static;
    width: 566px;
    height: 148px;
    left: 0;
    top: 232px;
    margin-left: 142px;
    margin-top: 24px;
  }

  .about button {
    position: absolute;
    width: 161px;
    height: 48px;
    left: 154px;
    top: 416px;
  }

  .about .Illustration-image {
    display: block;
    float: right;
    position: absolute;
    left: 854.47px;
    top: 99.47px;
    bottom: 297.39px;
    width: 30%;
  }

  .about .about-hero-image {
    display: none;
  }

  .about hr {
    position: absolute;
    top: 591px;
    width: 1000px;
    left: 142px;
    right: 142px;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }

  .about .skill {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 153px;
    margin-left: 153px;
    align-content: center;
    position: absolute;
    top: 737.73px;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form-catagories {
    display: grid;
    grid-template-columns: auto auto;
    gap: 135px;
  }
}
